body {
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.main-section {
    padding-top: 20px;
    padding-bottom: 40px;
@media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
}
}