:root {
    --primary-text-color: #000000;
    --accent-color: #FF6B08;
    --add-textcolor: #ffffff;
    --primary-font-family: 'Roboto', sans-serif;
    --primary-font-size: 12px;
    --timing-fun: cubic-bezier(0.4, 0, 0.2, 1);
  }