.header {
  padding-top: 40px;
  padding-bottom: 92px;
  color: #ffffff;
  text-align: center;
  background-image: url('/src/images/home_bg_header_mob.jpg'),
    linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/src/images/home_bg_header_mob@2x.jpg'),
      linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-bottom: 80px;
    background-image: url('/src/images/home_bg_header_tab.jpg'),
      linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));

    @media (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/home_bg_header_tab@2x.jpg'),
        linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
    }
  }
}

@media screen and (min-width: 1280px) {
  .header {
    background-image: url('/src/images/home_bg_header_des.jpg'),
      linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));

    @media (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/home_bg_header_des@2x.jpg'),
        linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
    }
  }
}

.header_library {
  padding-top: 40px;
  padding-bottom: 62px;
  color: #ffffff;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('/src/images/lib_bg_header_mob.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('/src/images/lib_bg_header_mob@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .header_library {
    padding-bottom: 60px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('/src/images/lib_bg_header_tab.jpg');

    @media (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('/src/images/lib_bg_header_tab@2x.jpg');
    }
  }
}

@media screen and (min-width: 1280px) {
  .header_library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('/src/images/lib_bg_header_des.jpg');

    @media (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('/src/images/lib_bg_header_des@2x.jpg');
    }
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 54px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.header_library .header__container {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 46px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.logo {
   display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #ffffff;
  height: 24px;
  transition: transform 250ms var(--timing-fun);
}
.logo:hover,
.logo:focus {
  transform: scale(1.1);
}
.logo__icon {
  fill: currentColor;
}

.main-title {
  display: none;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.16;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.navigation__link {
  padding: 14px 0;
  color: var(--add-textcolor);
  font-weight: 500;
  text-transform: uppercase;
  transition: color 250ms var(--timing-fun);
}
.navigation__link:hover,
.navigation__link:focus {
  color: #ff001b;
}
.navigation__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-left: auto;
}
.navigation__item {
  position: relative;
}

.current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 3px;
  background-color: #ff001b;
  border-radius: 2px;
  border-color: transparent;
}

.search__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

}

.search__input {
  background-color: transparent;
  padding: 4px 0;
  font-size: 16px;
  border: 0.5px solid;
  border-color: transparent transparent #ffffff transparent;
  box-sizing: border-box;
  color: #ffffff;
  transition: border-color 250ms var(--timing-fun);
  @media screen and (max-width: 319px) {
    width: 87vw;
  }
  @media screen and (min-width: 320px) {
    width: 280px;
  }
  @media screen and (min-width: 768px) {
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    width: 394px;
  }
}
.search-form {
  position: relative;
}
.search__input::placeholder {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
}
.search__input:hover,
.search__input:focus {
  outline: none;
  border-color: transparent transparent #ff001b transparent;
}
.search-btn {
   position: absolute;
  right: 0;
  bottom: 6px;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
}

.search__icon {
  color: #ffffff;
  transition: fill 250ms var(--timing-fun);
}
.search__input:hover + .search__icon,
.search__input:focus + .search__icon {
  fill: #ff001b;
}
.header_library .btn-watched,
.header_library .btn-queue {
  width: 129px;
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
  transition: transform 250ms var(--timing-fun);
  &:hover,
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  @media screen and (min-width: 768px) {
    width: 152px;
  }
  @media screen and (min-width: 1280px) {
    width: 148px;
  }
}
.btn-watched {
  margin-right: 19px;
  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 16px;
  }
}
.header_library .current-btn_library {
  background-color: var(--accent-color);
  border-color: transparent;
}
